@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Louis Vuitton Web";
  src: url("/fonts/LouisVuitton-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Louis Vuitton Web";
  src: url("/fonts/LouisVuitton-Regular.woff2") format("woff2");
  font-weight: 400;
}

body {
  @apply bg-black text-white h-screen flex flex-col font-body text-[16px] leading-[20px];
}
